RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteCond %{HTTP_HOST} ^(www\.makewebnbot\.com|makewebnbot\.com)
RewriteRule .* https://www.makewebnbot.com/%{REQUEST_URI} [L,R=permanent]
          
